{% extends "base.html" %}

{% block content %}
      <h3> {{ image.title }}</h3>
        <h4> Sent by: <b>{{ image.sent_by }}</b> | Date: {{ image.pub_date }}</h4>
        <h5> {{ image.description }} </h5>
        <a href="/media/{{ image.image }}"><img src="/media/{{ image.image }}" alt="{{ image.title }}"/></a>
        
        {% if voted %}
        	<h4> <strong>{{ image.points }} points </strong> </h4>
        {% else %}
            {% if user.is_authenticated %}
        		<h4> <a href='/img/{{ image.slug }}/+'>+</a> <strong>{{ image.points }} points </strong> <a href='/img/{{ image.slug }}/-'>-</a></h4>
        	{% else %}
        		<h4> <strong>{{ image.points }} points </strong> </h4>
        	{% endif %}
        {% endif %}
{% endblock %}
