{% extends "base.html" %}

{% block content %}
	<h2>Add new image:</h2>
	{% if user.is_authenticated %}
      	{% if form.errors %}
            <p style="color: red;">
                Please correct the error {{ form.errors|pluralize }} below.
            </p>
        {% endif %}
 
        <form method="post" action="" enctype="multipart/form-data">
        	{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Upload image">
        </form>
     {% else %}
     	<a href='/login'>Please login first!</a>
     {% endif %}
{% endblock %}
